@{
    ViewData["Title"] = "CrearProducto";
}

@model Tienda.Productos

<form asp-controller="Productos" asp-action="CrearProducto">
  <div class="mb-3">
    <label asp-for=@Model.Descripcion class="form-label">Descipcion</label>
    <input asp-for=@Model.Descripcion type="text" class="form-control">
    <label asp-for=@Model.Precio class="form-label">Precio</label>
    <input asp-for=@Model.Precio type="number" class="form-control">
  </div>    
  <button type="submit" class="btn btn-outline-success">Crear</button>
</form>